[Desktop Entry]
Type=Application
Name=言出法随
GenericName=AI Voice Input
Comment=面向 Fcitx 5 的 AI 语音输入工具
Exec=voxspell
Icon=io.github.geequlim.VoxSpell
Terminal=false
Categories=Utility;
StartupNotify=true
StartupWMClass=io.github.geequlim.VoxSpell
